<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Snno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-snNo" class="form-control" name="row[snNo]" type="text" value="{$row.snNo|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-money" class="form-control" step="0.01" name="row[money]" type="number" value="{$row.money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[time]" type="text" value="{:$row.time?datetime($row.time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('U_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-u_id" data-rule="required" data-source="u/index" class="form-control selectpage" name="row[u_id]" type="text" value="{$row.u_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-date" class="form-control" name="row[date]" type="text" value="{$row.date|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agentno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agentNo" class="form-control" name="row[agentNo]" type="text" value="{$row.agentNo|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Keyrsp')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-keyRsp" class="form-control" name="row[keyRsp]" type="text" value="{$row.keyRsp|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cardno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cardNo" class="form-control" name="row[cardNo]" type="text" value="{$row.cardNo|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cardbankname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cardBankName" class="form-control" name="row[cardBankName]" type="text" value="{$row.cardBankName|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transtype')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transType" class="form-control" name="row[transType]" type="text" value="{$row.transType|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transDate" class="form-control" name="row[transDate]" type="text" value="{$row.transDate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fee" class="form-control" step="0.01" name="row[fee]" type="number" value="{$row.fee|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cardclass')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-cardClass" class="form-control selectpicker" name="row[cardClass]">
                {foreach name="cardclassList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.cardClass"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Memname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-memName" class="form-control" name="row[memName]" type="text" value="{$row.memName|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Memno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-memNo" class="form-control" name="row[memNo]" type="text" value="{$row.memNo|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ctime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ctime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[ctime]" type="text" value="{:$row.ctime?datetime($row.ctime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Posentry')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-posEntry" data-rule="required" class="form-control" name="row[posEntry]" type="text" value="{$row.posEntry|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_bak')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_bak" data-rule="required" class="form-control selectpicker" name="row[is_bak]">
                {foreach name="isBakList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_bak"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bak_ftime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bak_ftime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[bak_ftime]" type="text" value="{:$row.bak_ftime?datetime($row.bak_ftime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bak_ctime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bak_ctime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[bak_ctime]" type="text" value="{:$row.bak_ctime?datetime($row.bak_ctime):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
